@media screen and (min-width: 767px){
    .container{
    max-width: 736px;
    }
    .section-team{
        padding-top: 208px;
        padding-bottom: 96px;
    }
    
  }
  @media screen and (min-width: 767px) {
    .list-of-specialists {
      grid-template-columns: repeat(2, 1fr);
      }
  }   
    .list-of-specialists {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 24px;
      }
      
      .photos {
      display: flex;
      flex-direction: column;
      align-items: center;
      }
      
      .photos img {
      width: 100%;
      height: auto;
      }      
      .section-customers{
        padding-top: 77px;
        padding-bottom: 96px;
      }
      /* Customers icons section */
      
        
        .list-of-specialists {
        grid-template-columns: repeat(2, 1fr);
        }
        
        .list-of-specialists,
        .photos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 24px;
        }
        
        .photos {
        align-items: center;
        }
        
        .photos img {
        width: 100%;
        height: auto;
        }
        /* Customers section */
        .section-customers{
        padding-top: 77px;
        padding-bottom: 96px;
        }
        
        .customers-icons-list {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          align-items: center;
          row-gap: 72px;
          column-gap: 24px;
        }
      
      /* Footer section */