@media screen and (min-width: 767px){
    .container{
    max-width: 736px;
    }
    .list-of-specialists, .list-of-images-portfolio {
      grid-template-columns: repeat(2, 1fr);
      }
      .footer-logo-and-icons-wrap{
        display: flex;
        
      }
      .social-media-footer, .logo-bottom{
        margin-top: 0;
        display: inline-block;
      }
      .social-icons-footer{
        margin-left: 24px;
      }
     
      .footer-input{
        width: 264px;
        height: 40px;
      }
  }   
  @media (min-width: 767px) and (max-width: 1199px) {
    .mobile-menu-open, .text-icons{
      display: none;
    }
   .email{
    padding-top: 16px;
    padding-bottom: 4px;}
    
    .phone{
    padding-top: 4px;
    padding-bottom: 16px;
   }
   .footer-text-and-logo{
    display: flex;
    flex-direction: column;
    width: 552px;
    margin-left: 0;
    justify-content: center;
   }
   .button-footer{
    margin-top: 0;
    margin-left: 24px;
   }
   .footer-input-wrap{
    display: flex;
    
   }
   .subscribe-footer p{
    margin-top: 72px;
   }
   .portfolio{
    padding-bottom: 96px;
    padding-top: 64px;
   }
   .list-of-buttons{
    margin-bottom: 64px;
   }
   }
    .list{
  display: block;
}
.section-team{
  padding-top: 96px;
}
.header3{
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.text{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
      .photos {
      display: flex;
      flex-direction: column;
      align-items: center;
      }
      
      .photos img {
      width: 100%;
      height: auto;
      }      
      .section-customers{
        padding-top: 77px;
        padding-bottom: 96px;
      }
      /* Customers icons section */
      
        
        
        
        .list-of-specialists 
        {
        display: grid;
        column-gap: 24px;
        row-gap: 64px;
        }
        .list-of-images-portfolio{
          display: grid;
        column-gap: 24px;
        row-gap: 72px;
        }
        .photos {
        align-items: center;
        }
        
        .photos img {
        width: 100%;
        height: auto;
        }
        /* Customers section */
        .section-customers{
        padding-top: 77px;
        padding-bottom: 96px;
        }
        
        .customers-icons-list {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          align-items: center;
          row-gap: 72px;
          column-gap: 24px;
        }
      
      /* Footer section */
      